<template>
  <div class="car-data">
    <h2>{{ title }}</h2>
    <dl v-if="carData.length">
      <fragment v-for="dataRow in carData" :key="dataRow.label">
        <dt>{{ dataRow.label }}</dt>
        <dd>{{ dataRow.value }}</dd>
      </fragment>
    </dl>
    <p v-else>
      No data found for the provided VIN
    </p>
  </div>
</template>

<script>
/**
 * Displays each car datasheet
 */
import { Fragment } from 'vue-fragment';
import { CAR_DATA_TITLE_VALUES } from '@/constants/carData';

export default {
  name: 'CarData',
  components: {
    Fragment
  },
  props: {
    /**
     * 17 character Vehicle Identification Number
     */
    vin: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      carData: []
    };
  },
  computed: {
    title () {
      // Vuex getters returns an object instead of state array
      // Iterate over it to get the data for the title
      return [...CAR_DATA_TITLE_VALUES.map(
        titleLabel => Object.keys(this.carData).map(
          dataRowIndex => this.carData[dataRowIndex].label === titleLabel && this.carData[dataRowIndex].value)).reduce(
        (acc, titleValueArr) => [...acc, ...titleValueArr], []
      ).filter(titleValue => !!titleValue), `(${this.vin})`].join(' - ');
    }
  },
  mounted () {
    this.carData = this.$store.getters.carData(this.vin);
  }
};
</script>

<style lang="scss" scoped>
.car-data {
  background-color: #fff;
  padding: $default-spacing;

  h2 {
    margin-bottom: #{$default-spacing / 1.5 };

    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  dl {
    display: flex;
    flex-wrap: wrap;
  }

  dt, dd {
    padding: #{$default-spacing / 2 };
    box-sizing: border-box;

    line-height: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;

    &:nth-of-type(2n+1) {
      background-color: #ccc;
    }
  }

  dt {
    flex: 0 1 30%;
    font-weight: bold;
  }

  dd {
    flex: 0 1 70%;
  }
}
</style>
