<template>
  <ul class="car-list">
    <li v-for="vin in this.$store.state.vinNumbers" :key="vin">
      <CarData :vin="vin" />
    </li>
  </ul>
</template>

<script>
/**
 * List of car datasheets based on the VIN numbers in the store
 */
import { CAR_DATA_DEFAULT_VIN_NUMBERS } from '@/constants/carData';
import CarData from './CarData';

export default {
  name: 'CarList',
  components: {
    CarData
  },
  async fetch () {
    if (!this.$store.state.vinNumbers.length) {
      await this.$store.dispatch('updateCarData', { vinNumbers: CAR_DATA_DEFAULT_VIN_NUMBERS, http: this.$http });
    }
  }
};
</script>

<style lang="scss" scoped>
.car-list {
  li:not(:last-of-type) {
    margin-bottom: #{$default-spacing * 1.2};
  }
}
</style>
