<template>
  <div v-if="loading" class="loading">
    Loading
  </div>
</template>

<script>
/**
 * Client only loading (async fetching) feedback
 */
export default {
  name: 'Loading',
  computed: {
    loading () {
      return this.$store.state.isLoading;
    }
  }
};
</script>

<style lang="scss" scoped>
.loading {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  padding: #{$default-spacing / 1.5} $default-spacing;

  font-size: 1.2rem;
  background-color: rgb(255, 228, 107);
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: rgb(250, 170, 65);
}
</style>
