<template>
  <header class="page-header">
    <a class="skip-to-content" href="#main">Skip to content</a>
    <h1>Car list</h1>
    <nuxt-link to="/about" class="about-link">
      About
    </nuxt-link>
  </header>
</template>

<script>
/**
 * Header of the page
 */
export default {
  name: 'PageHeader'
};
</script>

<style lang="scss" scoped>
.page-header {
  display: flex;  // ToDo: review
  justify-content: space-between;
  align-items: center;

  padding: #{$default-spacing * 1.2};

  background-color: $color-background-secondary;

  h1 {
    font-size: 2.2rem;
    font-weight: bold;
    color: $color-text-secondary;
  }
}
.skip-to-content {
  display: none;
}

.about-link {
  color: $color-text-secondary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
</style>
