<template>
  <div class="vin-field">
    <label for="vin-field-input">Comma separated VIN numbers</label>
    <input id="vin-field-input" v-model="vinNumbersValue" type="text" placeholder="Comma separated VIN numbers (up to 5)">
    <button :disabled="!vinNumbers.length" @click="setVinNumbersValue(vinNumbersValue)">
      Update
    </button>
  </div>
</template>

<script>
/**
 * Component to update the list on VIN numbers
 */
export default {
  name: 'VinField',
  data () {
    return {
      vinNumbersValue: this.$store.state.vinNumbers.join(', ')
    };
  },
  computed: {
    vinNumbers () {
      return this.vinNumbersValue.split(',').map(vin => vin.trim()).filter(vin => !!vin);
    }
  },
  methods: {
    setVinNumbersValue (vinNumbersValue) {
      this.$store.dispatch('updateCarData', { vinNumbers: this.vinNumbers, http: this.$http });
    }
  }
};
</script>

<style lang="scss" scoped>
.vin-field {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $default-spacing;
  padding: $default-spacing;

  background-color: #fff;

  label[for=vin-field-input] {
    flex-basis: 100%;
    margin-bottom: #{$default-spacing / 4};

    font-size: 1.2rem;
  }

  #vin-field-input {
    flex: 1;
    padding: #{$default-spacing / 2};

    font-size: 1.6rem;
    line-height: 2rem;

    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: $color-background-secondary;
    border-radius: 3px 0 0 3px;
  }

  button {
    padding: #{$default-spacing / 2} $default-spacing;

    @include default-font;
    font-size: 1.3rem;
    font-weight: bold;
    color: $color-text-secondary;

    background-color: $color-background-secondary;
    border-width: 0;
    border-radius: 0 3px 3px 0;

    cursor: pointer;

    &:disabled {
        background-color: #ccc;
        border-width: 1px 1px 1px 0;
        border-color: $color-background-secondary;
    }
  }
}
</style>
