$color-background-primary: #eaeaea;
$color-background-secondary: rgb(0, 162, 255);

$color-text-primary: #333;
$color-text-secondary: #fff;

$default-spacing: 1.4rem;

@mixin default-font {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
