@import './variables';

html,
body {
    @include default-font;

    color: $color-text-primary;
    background-color: $color-background-primary;
}

html {
    font-size: 62.25%;
}

body {
    font-size: 1.6rem;
}
