<template>
  <div>
    <PageHeader />
    <main id="main">
      <Nuxt />
    </main>
  </div>
</template>

<script>
/**
 * Page with header layour
 */
import PageHeader from '@/components/PageHeader';

export default {
  components: {
    PageHeader
  }
};
</script>

<style lang="scss" scoped></style>
