<template>
  <div class="container">
    <div class="about">
      <h1>About</h1>
      <h2>The sole purpose of this page is to show Vue-router is working properly</h2>
    </div>
    <nuxt-link class="back-link" to="/">
      Back
    </nuxt-link>
  </div>
</template>

<script>
/**
 * About page
 */
export default {
  layout: 'simple'
};
</script>

<style lang="scss" scoped>
@keyframes appear {
  0% {
    opacity: 0;
  }
}
.about {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;

  animation: 1s appear;

  h1 {
    font-size: 8rem;
    line-height: 8.8rem;
    font-weight: bold;
  }
}

.back-link {
  position: fixed;
  top: #{$default-spacing * 1.5};
  right: #{$default-spacing * 1.2};

  color: #000;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
</style>
