<template>
  <div class="container">
    <no-ssr>
      <Loading />
    </no-ssr>
    <VinField />
    <CarList />
  </div>
</template>

<script>
/**
 * Car list page, this is the default page of the application
 */
import Loading from '@/components/Loading';
import CarList from '@/components/CarList';
import VinField from '@/components/VinField';

export default {
  layout: 'default',
  components: {
    Loading,
    CarList,
    VinField
  }
};
</script>

<style lang="scss" scoped>
.container {
  padding: #{$default-spacing * 1.2};
}
</style>
